{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}

    <!-- carousel -->
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
            <div id="carousel_img" class="carousel-item active">
                <div class="fill">
                    <img src="{% static 'assets/img/carousel_1.jpg' %}" class="d-block w-100" alt="...">
                </div>

                <div class="carousel-caption">
                    <h2 class="animated fadeInLeft">{% trans "Salom" %} </h2>
                    {#                    <p class="animated fadeInUp">Lorem ipsum dolor sit amet,</p>#}
                    <button class="btn btn-outline-success" type="submit">Button</button>
                </div>

            </div>
            <div id="carousel_img2" class="carousel-item">
                <div class="fill">
                    <img src="{% static "assets/img/carousel_2.jpg" %}" class="d-block w-100" alt="...">
                </div>

                <div class="carousel-caption">
                    <h2 class="animated fadeInLeft">{% trans "Salom" %}</h2>
                    {#                    <p class="animated fadeInUp">Lorem ipsum dolor sit amet,</p>#}
                    <button class="btn btn-outline-success" type="submit">Button</button>
                </div>
            </div>
            <div id="carousel_img" class="carousel-item">
                <div class="fill">
                    <img src="{% static "assets/img/carousel_3.jpg" %}" class="d-block w-100" alt="...">
                </div>

                <div class="carousel-caption">
                    <h2 class="animated fadeInLeft">{% trans "Salom" %}</h2>
                    {#                    <p class="animated fadeInUp">Lorem ipsum dolor sit amet,</p>#}
                    <button class="btn btn-outline-success" type="submit">Button</button>
                </div>
            </div>
        </div>


        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <!-- end carousel -->


    <!-- end carousel -->
    <!-- Start Categories of The Month -->
    <!-- Start Categories of The Month -->
    <section class="container py-5">
        <div class="row text-center pt-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1"><b>{% trans "FROM COTTON to APPAREL" %}</b></h1>
                <p>{% trans "Our key objective is the production of highly quality goods and services, promptly fulfilling our customer’s orders and winning their trusts. To further improve the quality of our yarn we always keep the relationship with our business partners and constantly pursue the new technologies and developments" %}


                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="#"><img src="{% static 'assets/img/card_img/card_1.jpeg' %}"
                                 class="rounded-circle img-fluid border"></a>
                <h5 class="text-center mt-3 mb-3">{% trans "AGRO CLUSTERS AND COTTON TEXTILE CLUSTERS" %}</h5>
                <p class="text-center"><a class="btn btn-success">
                    {% trans "Established in 2018 Agro Clusters - 4 000 hectaresCotton Textile Clusters- 16 000 hectares 33 000 tons of seed cotton harvested every year" %}
                </a></p>
            </div>
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="#"><img src="{% static 'assets/img/card_img/card_2.jpg' %}"
                                 class="rounded-circle img-fluid border"></a>
                <h2 class="h5 text-center mt-3 mb-3">{% trans "SPINNING" %}</h2>
                <p class="text-center"><a class="btn btn-success">{% trans "Established in 2014 Open end, Carded, Combed and Compact yarns and twisted yarns are produced Production capacity- 9 000 tons/Year Twisting Section capacity 3 000 tons/Year" %} </a></p>
            </div>
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="#"><img src="{% static 'assets/img/card_img/card_3.png' %}"
                                 class="rounded-circle img-fluid border"></a>
                <h2 class="h5 text-center mt-3 mb-3">{% trans "FABRIC" %}</h2>
                <p class="text-center"><a class="btn btn-success">{% trans "Have rented tubular fabric dyeing factory with capacity of 1500 tons/Year Open width fabrics currently in outsource." %}</a></p>
            </div>
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="#"><img src="{% static 'assets/img/card_img/card_4.png' %}"
                                 class="rounded-circle img-fluid border"></a>
                <h2 class="h5 text-center mt-3 mb-3">{% trans "SEWING" %}</h2>
                <p class="text-center"><a class="btn btn-success">{% trans "HFirst sewing factory established in 2020 in Syrdaryo region. 7 lines with 250 workers Second factory started in 2022 in Khorezm region, 8 lines- 350 workers." %}</a></p>
            </div>
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="#"><img src="{% static 'assets/img/card_img/card_5.jpg' %}"
                                 class="rounded-circle img-fluid border"></a>
                <h2 class="h5 text-center mt-3 mb-3">{% trans "APPAREL" %}</h2>
                <p class="text-center"><a class="btn btn-success">{% trans "Our apparel production process is a well-organized series of steps that include pattern creation, marking, cutting, stitching, pressing, packing." %}</a>
                </p>
            </div>
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="#"><img src="{% static 'assets/img/card_img/card_4.png' %}"
                                 class="rounded-circle img-fluid border"></a>
                <h2 class="h5 text-center mt-3 mb-3">{% trans "SEWING" %}</h2>
                <p class="text-center"><a class="btn btn-success">{% trans "HFirst sewing factory established in 2020 in Syrdaryo region. 7 lines with 250 workers Second factory started in 2022 in Khorezm region, 8 lines- 350 workers." %}</a></p>
            </div>
        </div>
    </section>
    <!-- End Categories of The Month -->

    <section class="services" id="services">

        <h1 style="text-align: center"><b>{% trans "Our Solutions" %}</b></h1>


        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="service-item">
                        <i class="fas fa-archive"></i>
                        <h4>{% trans "Cotton Yarn" %}</h4>
                        <p>{% trans "We can offer high-quality cotton yarns: Open End, Carded, Combed and Compact Combed" %}</p>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="service-item">
                        <i class="fas fa-archive"></i>
                        <h4>{% trans "Raw and Dyed Fabric" %}</h4>
                        <p>{% trans "Using our own yarns we can also offer wide range of raw and dyed fabrics under the control of our experienced team" %}</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="service-item">
                        <i class="fas fa-suitcase"></i>
                        <h4>{% trans "Screen Printing" %}</h4>

                        <p>{% trans "By using up to date automatic screen printing equipments (MHM and Sulfet) and skilled staff we can offer different types of printings that will satisfy your needs." %}</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="service-item">
                        <i class="fas fa-suitcase"></i>
                        <h4>{% trans "vApparel Poduction" %}</h4>
                        <p>{% trans "The products are manu factured by qualified experienced personnel based on the latest modern high technologies, in particular, automated equipment of japan(JUKI) and Italy(OROX, BATTISTELLA)." %} </p>
                    </div>
                </div>

            </div>
        </div>
    </section>



    <!-- Start Featured Product -->
    <section class="bg-light">
        <div class="container py-5">
            <div class="row text-center py-3">

            </div>
            <div class="row">
                <div class="col-12 col-md-4 mb-4">
                    <div class="card h-100">
                        <a href="#">
                            <img src="{% static 'assets/img/feature_prod_01.jpg' %}" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body">

                            <a href="#" class="h2 text-decoration-none text-dark">{% trans "CUTTING" %}</a>
                            <p class="text-muted">{% trans "30 000 Pcs./Day" %}</p>
                            <p class="card-text">
                                {% trans "Italian automatic cutting equipment OROX iCut that we are using gives cutting solutions that are on top of technology and performances through the most advanced tools applied" %}

                            </p>

                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 mb-4">
                    <div class="card h-100">
                        <a href="#">
                            <img src="{% static 'assets/img/feature_prod_02.jpg' %}" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body">
                            <a href="#" class="h2 text-decoration-none text-dark">SCREEN PRINTING</a>
                            <p class="text-muted">{% trans "30 000 Pcs./Day" %}</p>
                            <p class="card-text">{% trans "Qualified and experienced personnel are using below up to date automatic screen printing machines to fulfill our and costumers needs :1 Oval - 36 tables and 14 colors 1 Spider – 16 tables and 14 colors 2 Spiders - 8 tables and 4 colors" %}

                            </p>

                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 mb-4">
                    <div class="card h-100">
                        <a href="#">
                            <img src="{% static 'assets/img/feature_prod_03.jpg' %}" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body">
                            <a href="#" class="h2 text-decoration-none text-dark">{% trans "Sewing Production" %}</a>
                            <p class="text-muted">{% trans "30 000 Pcs./Day" %}</p>
                            <p class="card-text">
                                {% trans " Our qualified team and production facilities allow us to fulfill any complex orders on time. In both 2 production plants with overall 15 lines with 600 personnel we use brand new up to date equipments from Japan ( JUKI) and Italy ( OROX, Battistella)." %}

                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Featured Product -->

{% endblock %}








