{% extends "base.html" %}
{% load static %}




{% block content %}
    <!-- Modal -->
    <div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="w-100 pt-1 mb-5 text-right">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" method="get" class="modal-content modal-body border-0 p-0">
                <div class="input-group mb-2">
                    <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                    <button type="submit" class="input-group-text bg-success text-light">
                        <i class="fa fa-fw fa-search text-white"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>


    <!-- Start Content Page -->

    {#  <div class="container-fluid bg-light py-5">#}
    {#        <div class="col-md-6 m-auto text-center">#}
    {#            <h1 class="h1"><b>Contact Us</b></h1>#}
    {#            <p>#}
    {#                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi aut beatae blanditiis cum dolorum#}
    {#                enim#}
    {#                esse eum fuga fugiat iusto molestias natus neque numquam odio possimus praesentium provident quae quam#}
    {#                quibusdam quisquam, quo reiciendis similique sit soluta tempora ullam unde veniam voluptas voluptate.#}
    {#                Animi#}
    {#                delectus neque numquam. Consequatur delectus deleniti ipsum iste labore minus nesciunt nisi perferendis#}
    {#                quaerat sed tempore, voluptatum.#}
    {#            </p>#}
    {#        </div>#}
    {#    </div>#}
    <section1 class="contact_1">
        <div class="container_1">
            <div class="content_1">
                <div class="left-side_1">
                    <div class="address_1 details_1">
                        <i class="fas fa-map-marked-alt"></i>
                        <div class="topic_1">Adrress</div>
                        <div class="text-one_1">Surhet</div>
                        <div class="text-two_1">Surhen ,NP12</div>
                        <div class="text-two_1">Brindrangare 06</div>
                    </div>
                    <div class="phone_1 details_1">
                        <i class="fas fa-phone-alt"></i>
                        <div class="topic_1">Phone</div>
                        <div class="text-one_1">+99 899 966 10 84</div>
                        <div class="text-two_1">+99 899 966 10 84</div>

                    </div>
                    <div class="Email_1 details_1">
                        <i class="fas fa-envelope"></i>
                        <div class="topic_1">
                            <Email></Email>
                        </div>
                        <div class="text-one_1">muhammadibragimov439@gmail.com</div>
                        <div class="text-two_1">info.codinglab</div>

                    </div>
                </div>

                <div class="right-side_1">
                    <div class="topic-text_1">Send massage</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur cumque explicabo nulla?
                        Consequuntur, deserunt dolores, libero nesciunt nobis repellendus sequi, soluta sunt tempora
                        totam veritatis!</p>

                    <from action="#">
                        <div class="input-box_1">
                            <input type="text" placeholder="Enter your name">
                        </div>
                        <div class="input-box_1">
                            <input type="text" placeholder="Enter your email">
                        </div>
                        <div class="input-box_1 massage-box_1">
                            <textarea></textarea>
                        </div>
                        <div class="button_1">
                            <button class="btn btn-outline-primary">Send Now</button>
                        </div>

                    </from>
                </div>

            </div>
        </div>
    </section1>



    <!-- Start Map -->
    <div id="mapid" style="width: 100%; height: 300px;">
        <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d3422651.0953391436!2d63.70991626637057!3d41.03914710472569!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sKxorazmTex!5e1!3m2!1suz!2s!4v1682917708469!5m2!1suz!2s"
                width="600" height="450" style="border:0; width: 100%" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <!-- Start Contact -->
    <div class="container py-5">
        <div class="row py-5">

        </div>
    </div>
    <!-- End Contact -->




{% endblock %}
