{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="container py-5">
        <div class="row">
            <div class="col-lg-9">

                <div class="row">
                    <div class="card image-news">
                        <div class="card-body">
                            <div>
                                <img style="max-width: 90% !important; " src="{% static 'assets/img/shop_07.jpg' %}"
                                     class="img-fluid" alt="...">
                            </div>
                            <div style="align-items: center" class="card-header">
                                <h5 class="card-title">Special title treatment</h5>
                            </div>
                            <div>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus
                                    accusantium aliquam aspernatur delectus, eius error et explicabo fugiat impedit
                                    ipsum
                                    magnam nulla, praesentium quas sed sequi ut voluptates. Ad aliquid at consequatur
                                    ducimus earum ex iure laudantium nobis recusandae sit. Atque deserunt earum fugit id
                                    ipsa nam nihil, non perspiciatis, qui reiciendis sunt tempore. A amet assumenda
                                    consequatur dolor dolore eius eligendi excepturi facilis fugit id, odio officiis
                                    pariatur perspiciatis placeat provident reprehenderit, similique suscipit ullam? A
                                    aperiam autem beatae commodi, cupiditate deserunt dicta dignissimos dolores eligendi
                                    excepturi facere ipsum laboriosam, magni modi necessitatibus non nulla perferendis
                                    perspiciatis praesentium quae quasi quos saepe sapiente suscipit voluptates. Ad amet
                                    consequatur eius facilis ipsa iure minus, nemo nostrum officia omnis quam
                                    similique.</p>x
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="col-lg-3">
                <ul class="list-unstyled templatemo-accordion news_lenta">
                    {% for new in news %}
                        <li class="pb-3">
                            <div class="card mb-3" style="max-width: 540px; ">
                                <div  class="row g-0">
                                    <div style="display:flex;align-content: center" class="col-md-4">
                                        <img src="{{ new.image.url }}" class="img-fluid rounded-start"
                                             alt="...">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ new.topic|truncatewords:4  }}</h5>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% endfor %}

                    {#                    <li class="pb-3">#}
                    {#                        <div class="card mb-3" style="max-width: 540px; ">#}
                    {#                            <div class="row g-0">#}
                    {#                                <div class="col-md-4">#}
                    {#                                    <img src="{% static "assets/img/shop_07.jpg" %}" class="img-fluid rounded-start"#}
                    {#                                         alt="...">#}
                    {#                                </div>#}
                    {#                                <div class="col-md-8">#}
                    {#                                    <div class="card-body">#}
                    {#                                        <h5 class="card-title">Card title</h5>#}
                    {#                                        <p class="card-text">This is a wider card with supporting</p>#}
                    {#                                        <p class="card-text"><small class="text-body-secondary">Last updated</small></p>#}
                    {#                                    </div>#}
                    {#                                </div>#}
                    {#                            </div>#}
                    {#                        </div>#}
                    {#                    </li>#}
                    {#                    <li class="pb-3">#}
                    {#                        <div class="card mb-3" style="max-width: 540px; ">#}
                    {#                            <div class="row g-0">#}
                    {#                                <div class="col-md-4">#}
                    {#                                    <img src="{% static "assets/img/shop_07.jpg" %}" class="img-fluid rounded-start"#}
                    {#                                         alt="...">#}
                    {#                                </div>#}
                    {#                                <div class="col-md-8">#}
                    {#                                    <div class="card-body">#}
                    {#                                        <h5 class="card-title">Card title</h5>#}
                    {#                                        <p class="card-text">This is a wider card with supporting</p>#}
                    {#                                        <p class="card-text"><small class="text-body-secondary">Last updated</small></p>#}
                    {#                                    </div>#}
                    {#                                </div>#}
                    {#                            </div>#}
                    {#                        </div>#}
                    {#                    </li>#}
                    {#                    <li class="pb-3">#}
                    {#                        <div class="card mb-3" style="max-width: 540px; ">#}
                    {#                            <div class="row g-0">#}
                    {#                                <div class="col-md-4">#}
                    {#                                    <img src="{% static "assets/img/shop_07.jpg" %}" class="img-fluid rounded-start"#}
                    {#                                         alt="...">#}
                    {#                                </div>#}
                    {#                                <div class="col-md-8">#}
                    {#                                    <div class="card-body">#}
                    {#                                        <h5 class="card-title">Card title</h5>#}
                    {#                                        <p class="card-text">This is a wider card with supporting</p>#}
                    {#                                        <p class="card-text"><small class="text-body-secondary">Last updated</small></p>#}
                    {#                                    </div>#}
                    {#                                </div>#}
                    {#                            </div>#}
                    {#                        </div>#}
                    {#                    </li>#}
                    {#                    <li class="pb-3">#}
                    {#                        <div class="card mb-3" style="max-width: 540px; ">#}
                    {#                            <div class="row g-0">#}
                    {#                                <div class="col-md-4">#}
                    {#                                    <img src="{% static "assets/img/shop_07.jpg" %}" class="img-fluid rounded-start"#}
                    {#                                         alt="...">#}
                    {#                                </div>#}
                    {#                                <div class="col-md-8">#}
                    {#                                    <div class="card-body">#}
                    {#                                        <h5 class="card-title">Card title</h5>#}
                    {#                                        <p class="card-text">This is a wider card with supporting</p>#}
                    {#                                        <p class="card-text"><small class="text-body-secondary">Last updated</small></p>#}
                    {#                                    </div>#}
                    {#                                </div>#}
                    {#                            </div>#}
                    {#                        </div>#}
                    {#                    </li>#}
                    {#                    <li class="pb-3">#}
                    {#                        <div class="card mb-3" style="max-width: 540px;">#}
                    {#                            <div class="row g-0">#}
                    {#                                <div class="col-md-4">#}
                    {#                                    <img src="{% static "assets/img/shop_07.jpg" %}" class="img-fluid rounded-start"#}
                    {#                                         alt="...">#}
                    {#                                </div>#}
                    {#                                <div class="col-md-8">#}
                    {#                                    <div class="card-body">#}
                    {#                                        <h5 class="card-title">Card title</h5>#}
                    {#                                        <p class="card-text">This is a wider card with supporting</p>#}
                    {#                                        <p class="card-text"><small class="text-body-secondary">Last updated</small></p>#}
                    {#                                    </div>#}
                    {#                                </div>#}
                    {#                            </div>#}
                    {#                        </div>#}
                    {#                    </li>#}
                    {#                    <li class="pb-3">#}
                    {#                        <div class="card mb-3" style="max-width: 540px;">#}
                    {#                            <div class="row g-0">#}
                    {#                                <div class="col-md-4">#}
                    {#                                    <img src="{% static "assets/img/fabric_img/18.jpg" %}" class="img-fluid rounded-start"#}
                    {#                                         alt="...">#}
                    {#                                </div>#}
                    {#                                <div class="col-md-8">#}
                    {#                                    <div class="card-body">#}
                    {#                                        <h5 class="card-title">Card titleffffffffffffffffffffffffffffffffff</h5>#}
                    {#                                        <p class="card-text">This is a wider card weeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeith supporting</p>#}
                    {#                                        <p class="card-text"><small class="text-body-secondary">Last updated</small></p>#}
                    {#                                    </div>#}
                    {#                                </div>#}
                    {#                            </div>#}
                    {#                        </div>#}
                    {#                    </li>#}
                </ul>
            </div>


        </div>
    </div>







{% endblock %}

